<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#FFB000"/>
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <link rel="icon" href="./favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header class="header">
      <div class="header-title">
        <a href="">Restaurant 98</a>
      </div>

      <nav class="drawer" id="drawer">
        <ul class="drawer-menu" id="drawer-menu">
          <li><a href="#/restaurant-list">Restaurant List </a></li>
          <li><a href="#/like">Liked Restaurant</a></li>
          <li><a href="https://www.linkedin.com/in/rifqi-syamsul-b590a5259/">About Us</a></li>
        </ul>
          <a class="hamburger" id="hamburger" href="#">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
      </nav>
    </header>

    <main id="mainContent">
    </main>

  <footer>
    <div class="footer-text">
      <p>copyright &copy; 2023 - Restaurant List App</p>
    </div>
  </footer>
  </body>
  
</html>
