

.restaurant__details{
    display: flex;
    gap: 2rem;
    background-color: #F5F5DC;
    padding: 2rem;
    margin: 0px auto;
    width: 100%;
    border-radius: 10px;
}

#restaurant h2{
    font-size: 2rem;
}

.restaurant__image img{
    width: 650px;
    height: 450px;
    border-radius: 10px;
}

.restaurant__detail-info{
    display: flex; 
    gap: 1rem;
    margin-top: 1rem;
}

.restaurant__detail-info p{
    color: #fff;
    background-color: #004225;
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.restaurant__description{
    font-size: 0.95rem;
}

.restaurant__info-category{
    margin: 0.2rem 0rem;
}

.category{
    color: #fff;
    background-color: #004225;
    font-size: 0.9rem;
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 5px;
}

.restaurant__info h3{
    margin-top: 1rem;
}

.restaurant__menu{
    display: flex;
    flex-direction: row;
}

.restaurant__menu{
    margin-top: 2rem;
    padding: 2rem;
    /* gap: 20rem; */
    justify-content: center;
}

.restaurant__menu-food{
    background-color: #FFCF9D;
    width: 100%;
    padding: 1rem;
    border-radius: 10px 0px 0px 10px;
}

.restaurant__menu-food ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3rem;
}

.restaurant__menu-food ul li{
    /* list-style-type: none; */
    text-transform: capitalize;
    margin-right: 0.5rem;
}

.restaurant__menu-drink{
    background-color: #F5F5DC;
    width: 100%;
    padding: 1rem;
    border-radius: 0px 10px 10px 0px;
}

.restaurant__menu-drink ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-transform: capitalize;
    margin-left: 3rem;
}

.restaurant__menu-drink h3{
    text-align: center;
}

.restaurant__menu-food h3{
    text-align: center;
}

.review-title{
    text-align: center;
}

.review-name{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: -0.5rem;
}

.review-date{
    font-size: 0.7rem;
    font-weight: 100;
    margin-bottom: 0.2rem;
}

.restaurant__review{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
}

.review-detail{
    margin: 1rem;
    padding: 0.5rem 1rem 1rem 1.5rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px rgba(23, 22, 22, 0.2);
}
