.hero{
    background-image: url('../public/images/hero-image_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 5rem 0;
}

.hero > .hero-content {
    width: 100%;
    padding: 10rem;
    color: #fff;
}

.hero > .hero-content h2 {
    text-align: center;
    font-size: 2rem;
}

.hero > .hero-content h1 {
    text-align: center;
    font-size: 5rem;
}