#restaurantList{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
  }
  
  #restaurantList > #restaurantContainer{
    /* border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #ededed;
  }

  #restaurantList > #restaurantContainer:hover{
    background-color: #FFCF9D;
  }
  
  #restaurantList > #restaurantContainer > #card{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 10px;
    width: fit-content;
  }

  #restaurantList > #restaurantContainer > #card > a{
    text-decoration: none !important;
    color: inherit;
  }
  
  #restaurantList > #restaurantContainer > #card > a > .card-body h3{
    font-size: 25px;
    margin-bottom: 5px;
    color: #004225;
  }
  
  #restaurantList > #restaurantContainer > #card > a > .card-body p{
    font-weight: 100;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;  
      overflow: hidden;
  }
  
  #restaurantList > #restaurantContainer > #card > a > .card-body img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
  }