.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title{
    padding: 1rem;
  }
  
  .header-title a {
    font-size: 35px;
    text-decoration: none;
    color: #004225;
    padding: 1rem;
    font-weight: 600;
  }
  
  .header-title a:hover {
    color: #FFB000;
  }
  
  .drawer {
    padding: 1rem;
  }
  
  .drawer ul {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
    overflow: hidden;
  }
  
  .drawer ul li a {
    display: block;
    color: #004225;
    text-decoration: none;
    font-size: 23px;
    padding: 1rem;
  }
  
  .drawer ul li a:hover {
    color: #FFB000;
  }

  .hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}